/* Style de la barre de recherche */

/* Style des images dans le conteneur */

.images img {
  width: 100%; /* Largeur de l'image à 100% de son conteneur */
  height: 200px; /* Hauteur fixe pour toutes les images */
  object-fit: cover; /* Gère les images de différentes tailles */
  border-radius: 10px; /* Bordures arrondies pour esthétique */
}

button:hover {
  background-color: gray;
}

#search-bar {
  position: sticky;
  top: 60px; /* Espacement du haut de la page */
}

/* Ajouter plus de styles ici selon vos besoins */